APP_NAME="MVC Base Project"
APP_ENV=local
APP_DEFAULT_ROUTE="/"
APP_DEBUG=true
APP_CORS_ORIGINS=*

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=mvc_base
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=file
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

JWT_SECRET=super-secret-key-change-it-in-production
JWT_EXPIRATION=3600

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

CACHE_DRIVER=file
QUEUE_DRIVER=database

# Mercure Setup
MERCURE_URL=http://localhost:8000/.well-known/mercure
MERCURE_PUBLIC_URL=http://localhost:8000/.well-known/mercure
MERCURE_PUBLISHER_JWT_KEY="!ChangeThisMercureHubJWTSecretKey!"
MERCURE_SUBSCRIBER_JWT_KEY="!ChangeThisMercureHubJWTSecretKey!"

